.home-wrapper {
    .quiz-list-item {
        &.card {
            padding: 0.5rem 1rem;
        }

        &:first-of-type {
            margin-top: 0;
        }

        .quiz-list-header {
            display: flex;
            justify-content: space-between;
            align-items: center;
            padding: 0 1rem;
        }
    }
}