<div class="quiz-wrapper">
  <ng-container *ngIf="quizQuestions?.questions">
    <h1 class="quiz-header">{{quizQuestions.quizName}}</h1>
    <ng-container *ngIf="qnIndex < quizQuestions.questions.length">
      <section class="quiz-timing">
        <div id="progress-bar">
          <div appProgress [qnIndex]="qnIndex" [qnCount]="quizQuestions.questions.length" id="progress-status"></div>
        </div>
        <div class="timer">Time Remaining: 0:{{totalSeconds | padStart : 2 : '0'}} / 0:15 seconds</div>
      </section>
      <section class="card" *ngIf="totalSeconds !== 0">
        <div class="question card-header">{{quizQuestions.questions[qnIndex].question}}</div>
        <div *ngFor="let option of quizQuestions.questions[qnIndex].options; let i = index">
          <div class="option-{{i+1}}" (click)="onSelection(quizQuestions.questions[qnIndex].qnId, i)">
            <ul class="bord-top">
              <li>{{option}}</li>
            </ul>
          </div>
        </div>
      </section>
    </ng-container>
    <ng-container *ngIf="quizResult?.questions && qnIndex === quizQuestions.questions.length">
      <div class="hor-center">
        <h1 class="score">You've scored {{quizResult.score}}
          <span *ngIf="quizResult.score > 1">points</span>
          <span *ngIf="quizResult.score === 1">point</span>
        </h1>
        <button type="button" class="btn mar-bot" [routerLink]="['/']">Home</button>
      </div>
      <section class="card mar-top-0">
        <h4 class="card-header">Answers</h4>
        <div class="card-body bord-top" *ngFor="let resultItem of quizResult.questions; let i = index">
          <article>
            <div>Q: {{resultItem.question}}</div>
            <div>A: {{resultItem.correctOption}}</div>
          </article>
          <small>
            Your answer: <span
              [ngClass]="[resultItem.submittedOption===resultItem.correctOption? 'text-green' : 'text-red']">{{resultItem.submittedOption}}</span>
          </small>
        </div>
      </section>
    </ng-container>
  </ng-container>
</div>